
body {
    font-family: 'Roboto', sans-serif; 
}


.singlemovie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 900px;
    background-color: #121212; 
    height: 97vh;
    padding-bottom: 20px;
    position: relative; 
}


.single-movie-card {
    background-color: #1e1e1e; 
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    margin: 30px 0;
    padding: 20px;
    width: 100%; 
    max-width: 800px; 
    display: flex;
    height: 87vh;
    flex-direction: column;
    align-items: flex-start;
}


.movie-info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}


.single-movie-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}


.single-movie-image {
    width: 300px;
    height: auto;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.single-movie-title {
    font-size: 30px;
    margin-top: 14px;
    margin-bottom: 20px;
    color: #ff4757;
    max-width: 317px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


.single-movie-description {
    font-size: 18px;
    color: #e0e0e0; 
    margin-top: 20px;
    width: 100%;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif; 
    border-top: 2px solid #929292 ; 
    padding-top: 20px; 
}

.single-movie-info {
    font-size: 18px;
    color: #d0d0d0; 
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif; 
}

.single-movie-info ul {
    padding-left: 20px;
    margin: 0;
    list-style-type: disc;
}

.single-movie-info li {
    color: #d0d0d0;
    font-size: 16px;
    margin-bottom: 5px; 
}


.status-toggle-button {
    padding: 12px 24px; 
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    border-radius: 30px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: absolute;
    top: 79px; 
    right: 49px;
}

.status-toggle-button.not-watched {
    background-color: #ff4757;
}

.status-toggle-button.watched {
    background-color: #2ed573;
}

.status-toggle-button:hover {
    transform: scale(1.05); 
}


.back-button {
    position: absolute;
    top: 31px;
    right: 33px;
    background-color: #1e1e1e; 
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
    background-color: #555; 
    transform: scale(1.1); 
}
.single-movie-description1{
    font-size: 20px;
}

.movie-buttons-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 20px; 
}


.user-list-toggle-button {
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 653px;
    margin-top: 96px;
    position: absolute;
}


.user-list-toggle-button.add {
    background-color: #007bff; 
}


.user-list-toggle-button.remove {
    background-color: #dc3545; 
}

.user-list-toggle-button:hover {
    transform: scale(1.05); 
}
@media (max-width: 1024px) {
    .singlemovie-container {
        width: 95%;
    }

    .single-movie-card {
        height: auto;
    }

    .single-movie-title {
        font-size: 28px;
    }

    .single-movie-image {
        width: 280px;
    }

    .status-toggle-button {
        font-size: 16px;
        padding: 10px 20px;
        top: 60px;
        right: 30px;
    }

    .user-list-toggle-button {
        font-size: 16px;
        padding: 12px 12px;
        top: 17px;
        right: 28px;
    }
}

@media (max-width: 768px) {
    .singlemovie-container {
        width: 90%;
    }

    .single-movie-card {
        padding: 15px;
    }

    .single-movie-title {
        font-size: 24px;
    }

    .single-movie-description {
        font-size: 16px;
    }

    .single-movie-info {
        font-size: 16px;
    }

    .single-movie-image {
        width: 250px;
    }

    .status-toggle-button {
        font-size: 14px;
        padding: 8px 16px;
        top: 50px;
        right: 20px;
    }

    .user-list-toggle-button {
        font-size: 14px;
        padding: 1px 24px;
        top: -2px;
        right: 21px;
    
    }
}

@media (max-width: 480px) {
    .singlemovie-container {
        width: 100%;
    }

    .single-movie-card {
        padding: 10px;
        box-shadow: none;
    }

    .single-movie-title {
        font-size: 20px;
    }

    .single-movie-description {
        font-size: 14px;
    }

    .single-movie-info {
        font-size: 14px;
    }

    .single-movie-image {
        width: 200px;
    }

    .status-toggle-button {
        font-size: 12px;
        padding: 6px 12px;
        top: 40px;
        right: 10px;
    }

    .user-list-toggle-button {
        font-size: 12px;
        padding: 1px 24px;
        top: -2px;
        right: 21px;
    
    }

    .back-button {
        font-size: 20px;
        padding: 8px;
        top: 5px;
        right: 5px;
    }
}